.options-container {
    .options-container-header, .options-container-body {
        background-color: $o-hb-bg-darker;
    }

    // POC: Shouldn't be here
    .btn {
        --btn-padding-y: 0.15rem;
        --btn-padding-x: 0.375rem;
        min-width: min-content;
    }

    div:has(> input):not(table.o_social_media_list div) {
        flex: 1 0 40px;
    }
    div:has(> input.o_we_large) {
        width: 100%;
    }
    table.o_social_media_list button {
        width: 2em;
    }

    .o_we_table_wrapper {
        width: 100%;
        max-height: 200px;
        overflow-y: auto;
    }
}

.o_we_img_animate:hover img {
    content: image-set(var(--animate-src));
}
