.hb-row {
    min-height: $o-hb-row-min-height;
    padding-top: $o-hb-row-spacing;
    box-sizing: content-box;
    align-items: center;
    color: $o-hb-fg-dark;

    &:hover, &.active {
        color: $o-hb-fg-lighter;
    }

    &.active {
        background: rgba($o-hb-color-accent, .2);
    }

    .hb-row-label {
        min-width: 0;
        flex: 0 0 44%;
        background: #0a0a0a;
        z-index: 4;
        position: relative;
        background-color: $o-hb-bg-darker;
        padding: $o-hb-row-spacing 0 $o-hb-row-spacing $o-hb-row-padding-left;
    }

    .hb-row-content {
        flex: 0 0 56%;
        align-items: center;
        gap: map-get($spacers, 1);
    }

    // Sublevels

    // Rules shared across all sublevels
    &.hb-row-sublevel {
        padding-left: 0;

        &:after {
            opacity: .5;
            position: absolute;
            border-width: 0 0 $o-hb-border-width $o-hb-border-width;
            height: 100%;
            transform: translateY(($o-hb-row-min-height * -0.5) - $o-hb-border-width);border-style: solid;
            pointer-events: none;
            opacity: .6;
            content: "";
        }
    }

    // Sublevel specific rules
    @for $_level from 1 through 3 {
        &.hb-row-sublevel-#{$_level} {
            .hb-row-label, &:after {
                z-index: 4 - $_level;
            }

            .hb-row-label {
                padding-left: $o-hb-row-padding-left + ($o-hb-row-padding-left * $_level) + ($o-hb-row-spacing * $_level);
            }

            &:after {
                width: ($o-hb-row-padding-left * 0.5) + $o-hb-row-spacing;
                left: ($o-hb-row-padding-left * $_level) + $o-hb-border-width;
            }
        }
    }
}

.hb-row-collapse-content-floating {
    @include o-position-absolute($right: 100%);
    width: 100%;
    background-color: rgba(black, 0.8);;
    box-sizing: border-box;
    transform: translateY(($o-hb-row-min-height + $o-hb-row-spacing) * -1);
    backdrop-filter: blur(22px) contrast(140%);
    border-radius: $border-radius-lg 0 0 $border-radius-lg;
    color: $o-hb-fg-lighter;

    .btn-close {
        filter: invert(100%);
        scale: 0.8;
    }

    > .hb-row:not(.d-none):first-of-type {
        margin-top: map-get($spacers, 1);
    }

    .hb-row-collapse-content {
        border-radius: $border-radius-lg;
        transform: translateX(-0.2rem);
        top: 0;
    }
}
